@model CardViewModel
@{
    //Utilisation : @await Html.PartialAsync("_CardPartial", new CardViewModel { Columns = 6, Content = "test" })
}
<div class="col-md-@Model.Columns mb-4">
    <!--Card-->
    <div class="card">
        <!-- Card header -->
        <div class="card-header d-sm-flex justify-content-between"><div class="mb-2 mb-sm-0 pt-1">@Model.Title</div> <div class="d-flex justify-content-center">@Model.Author</div></div>
        <!--Card content-->
        <div class="card-body">
            @Html.Raw(Model.Content)
        </div>
    </div>
    <!--/.Card-->
</div>