<div class="col-md-6 mb-4">
    <!--Card-->
    <div class="card">
        <!-- Card header -->
        <div class="card-header">Google map</div>
        <!--Card content-->
        <div class="card-body">

        </div>
    </div>
    <!--/.Card-->
</div>