@model CardViewModel
@{
    //Utilisation : @await Html.PartialAsync("_CardPartial", new CardViewModel { Columns = 6, Content = "test" })
}
<div class="col-md-@Model.Columns mb-4">
    <!--Card-->
    <div class="card">
        <!-- Card header -->
        <div class="card-header">@Model.Title</div>
        <!--Card content-->
        <div class="card-body">
            @Model.Content
        </div>
    </div>
    <!--/.Card-->
</div>