@model MousseModels.Models.Scenario

@{
    ViewData["Title"] = "Details";
}

<h1>Scenario</h1>
<div class="col-md-12 mb-4">
    <!--Card-->
    <div class="card">
        <!-- Card header -->
        <div class="card-header d-sm-flex justify-content-between"><div class="mb-2 mb-sm-0 pt-1">@Html.DisplayFor(model => model.Name)</div></div>
        <!--Card content-->
        <div class="card-body">

            <h4>Description:</h4>
            <div>
                @Html.Raw(Model.Content)
            </div>

        </div>
    </div>
    <!--/.Card-->
</div>

<div>
    @if (User.Identity.Name == Model.User.Email)
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
}
        <a asp-action="Index">Back to List</a>
</div>
