@model IEnumerable<MousseModels.Models.Scenario>

@{
    ViewData["Title"] = "Index";
}

<div class="row wow fadeIn">
    @foreach (var item in Model)
    {
        // afficer uniquement ceux dont la visibilité == celle de l'utilisateur
        @await Html.PartialAsync("_CardPartial", new CardViewModel { Columns = 6, Id = item.ID, Title = item.Name, Author = item.User.Pseudo, Content = item.Content })

    }
</div>
<script>
    $(window).on('load', function () {
        $('.open-link a').click(function () {
            console.log($(this).parent().siblings('.desc-wrap'))
            var $wrap = $(this).parent().siblings('.desc-wrap');
            if ($wrap.css("height") == "250px") {
                $wrap.css('height', 'auto');
                var autoHeight = $wrap.height();
                $wrap.css('height', '250px');
                $wrap.animate({ height: autoHeight }, 1000);
            } else {
                $wrap.animate({ height: "250px" }, 1000);
            }
            return false;
        });
    });

</script>


